<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @vision.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @vision.image %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vision.color %>
</p>

<%= link_to 'Edit', edit_vision_path(@vision) %> |
<%= link_to 'Back', visions_path %>
