<div class="card form-container">

  <!-- Header -->
  <div class="card-header">
    <span class="primary-color card-title z-depth-1">
      Optional: Your Background Information
    </span>
  </div>

  <div class="card-description card-section with-border-bottom">
    <p>
      <strong>Hurray your vision has been published!</strong>

      <br/><br/>

      We would like to ask you a few additional questions.
      This optional information will allow us to associate your vision for the
      world with the identities you carry in the world. Over time, this creates
      a comprehensive picture of the world we want: Are our visions for the
      world similar or are there variances in what people from different
      backgrounds want?

      <br/><br/>

      All fields are optional. If you do not wish to submit background
      information, you can simply click the 'Skip to Vision' button.
    </p>

    <div class="right-align">
      <%= link_to vision, class: "waves-effect waves-light primary-color btn with-icon", :data => {:confirm => 'Continue to vision without adding optional background information?'} do %>
        <i class="mdi mdi-skip-next left"></i>
        Skip to Vision
      <% end %>
    </div>

  </div>



  <%= form_for(identity) do |f| %>
    <% if identity.errors.any? %>
      <div class="card-errors card-section with-border-bottom primary-color white-text">
        <h2><%= pluralize(identity.errors.count, "error") %> prohibited this identity from being saved:</h2>

        <ul>
        <% identity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card-section">

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :political_affiliation %>
              <%= f.label :political_affiliation %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :religious_affiliation %>
              <%= f.label :religious_affiliation %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :age %>
              <%= f.label :age %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :gender %>
              <%= f.label :gender %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :home_country %>
              <%= f.label :home_country %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :ethnicity %>
              <%= f.label :ethnicity %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :profession %>
              <%= f.label :profession %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">

          <div class="row no-margin-bottom">
            <div class="input-field col s12">
              <%= f.text_field :other %>
              <%= f.label :other, "Other Identities" %>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Publish -->
    <div class="card-action">
      <div class="row no-margin-bottom">
        <div class="col s12 right-align">
          <button class="btn waves-effect waves-light primary-color with-icon" type="submit" name="action">
            <i class="mdi mdi-send left"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  <% end %>


</div>
